@charset "UTF-8";

/*  Paleta de cores 
    Verde: #49a09d
    Lilás: #5f2c82 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, main {
    background-image: linear-gradient(#5f2c82, #49a09d);
    min-height: 98vh;
    min-width: 97vw;
}
main {
    position: relative;
}

section  {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 20px;
    height: 515px;
    width: 250px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

div#imagem {
    background-image: url(../images/metal.jpg);
    background-size: cover;
    height: 40%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

div#formulario {
    background-color: white;
    border: 1px solid black;
    height: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 4px;
}

div#formulario > h1 {
    text-align: center;
}

div#formulario > p {
    text-align: center;
}

form > .resp {
    background-color: #5f2c82;
    /* display: block; */
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
    margin: 2px;
    /* height: 10px;
    width: 10px ; */
}

#mail {
    color: white;
}

#chave {
    color: white;
}

#iemail {
    background-color: #49a09d;
    padding: 4px 11px 4px 4px;
    border-radius: 8px;
}

#isenha {
    background-color: #49a09d;
    padding: 4px 11px 4px 4px;
    border-radius: 8px;
}

#box {
    background-color: #49a09d;
    padding: 4px 11px 4px 4px;
    border-radius: 8px;
}

