@charset "UTF-8";

/*  Paleta de cores 
    Verde: #49a09d
    Lilás: #5f2c82 */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, main {
    background-color: #5f2c82;
    min-height: 98vh;
    min-width: 97vw;
}
main {
    position: relative;
}

section  {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid black;
    border-radius: 10px;
    height: 90vh;
    max-width: 350px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

div#imagem {
    background-image: url(../images/metal.jpg);
    background-size: cover;
    height: 40%;
}